{% set backgroundImage = block.backgroundImage|length == 0 ? "" : " background: url(" ~  block.backgroundImage|first.url ~ ") no-repeat;   " %}

<section class="home-hero" style="{{ backgroundImage }}">
{#   <div class="container">
    {% if block.heading %}
      <header>
        <h1>{{ block.heading }}</h1> 
      </header>
    {% endif %}
    {% if block.body %}
      {{ block.body }}
    {% endif %}
    {% if block.contactButton %}
      {% include 'include/_contactButton' %}
    {% endif %}   
  </div> #}
  {% if block.slides|length %}
    <div class="hero-slides-container">
      <span class="hero-arrow arrow-left ficon-chevron-left"></span>
      {% for slide in block.slides %}
        {# {% set backgroundImage = slide.backgroundImage|length == 0 ? "" : " background: url(" ~  block.backgroundImage|first.url ~ ") no-repeat;   " %} #}
        <div class="hero-slide{% if loop.first  %} active{% endif %}" >
          {% if loop.first  %}
            <h1>{{ slide.title }}</h1>
            {{ slide.body }}
            {% if block.contactButton %}
              {% include 'include/_contactButton' %}
            {% endif %}   
          {% else %}
            <h2>{{ slide.title }}</h2>
            {{ slide.body }}
          {% endif %}
        </div>
      {% endfor %}
      <span class="hero-arrow arrow-right ficon-chevron-right"></span>
    </div>
  {% endif %}
</section>